<!--DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"-->

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Vikash Kumar: Research Scientist in Embodied AI, Hand-Manipulation, Robotics</title>
	<meta name="keywords" content="Robotics, Embodied AI, Hand-Manipulation, ADROIT, Hand, Machine Learning"/>
	<meta name="description" content="Research scientist active in the areas of Robotics and Embodied Artificial Intelligence, with specialization in dexterous hand manipulation. He is broadly interested in developing artificial agents that are cheap, portable and exhibit complex behaviors. His current focus is towards solving contact rich dexterous manipulation with free objects. He finished his PhD under prof. Emanuel Todorov and Prof. Sergey Levine at University of Washington where he developed ADROIT - a dexterous manipulation platform."/>
	<link href="default.css" rel="stylesheet" type="text/css" media="screen" />
	<link rel="shortcut icon" href="images/icon.ico">
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44241506-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-44241506-1');
	</script>

</head>

<body>
<!-- start header -->
<div id="logo"> 
	<h1><a href="index.html">Vikash Kumar</a></h1>
</div>
<div id="menu">
	<ul>
		<li><a style="border-left:0px" href="index.html">Videos</a></li>
		<li><a href="news.html">Impacts</a></li>
		<li><a href="Publications.html">Publications</a></li>
		<li><a href="Thesis.html">Thesis</a></li>
		<li><a href="Resume.html">Resume</a></li>
		<li class="current_page_item"><a href="AboutMe.html">About me</a></li>
	</ul>
</div>
<!-- end header -->


<!-- start page -->
<div id="page">
	<div id="page-bg">
	
<!-- Hi All -->	
			<div id="page-content">
		  <img src="images/image.jpg" alt="" height="181" border="5" align="top" class="right" />
		  <h2>Hi All</h2>
			<p align="justify">I am currently a research scientist at <a href="https://ai.google/research/teams/brain/">Google-Brain</a>. I have also spent some time at <a href="https://openai.com">OpenAI</a> and <a href="https://bair.berkeley.edu/">Berkeley Artificial Intelligence Research (BAIR) Lab</a>. I did my PhD at CSE, University of Washington's <a href="http://homes.cs.washington.edu/~todorov/">Movement Control Lab</a>, under the supervision of <a href="http://homes.cs.washington.edu/~todorov/">Prof. Emanuel Todorov</a> and <a href="https://people.eecs.berkeley.edu/~svlevine/">Prof. Sergey Levine</a>.
			<p align="justify">
			I am interested in the areas of Robotics, and Embodied Artificial Intelligence. My general interest lies in developing artificial agents that are cheap, portable and exhibit complex behaviors. More specifically, my current attention is focused towards solving contact rich dexterous manipulation with free objects.</p>
		</div>
		
<!-- About me -->
		<div id="page-content">
            <h2 class="title">About me</h2>
              <p>I was born and brought up in central eastern India in a beautiful city called <a href="http://ranchi.nic.in">Ranchi</a> . Ranchi lies on the eastern rim of the Deccan plateau that covers most of the Indian peninsula. I did my schooling in Ranchi from  <a href="http://davhehal.deosoft.net/">D.A.V, Hehal, Ranchi</a> (<a href = "http://en.wikipedia.org/wiki/DAV_Public_School,_Hehal">wiki</a>). Before joining Univ. of Washington for my graduate studies, I did my undergrad and masters in <a href = "http://www.webmath.iitkgp.ernet.in">&quot;Mathematics and Computing&quot;</a> from <a href="http://www.iitkgp.ac.in/">Indian Institute of technology (IIT), Kharagpur,India</a>.</p>
			  
			  <p>I am mad about learning new things, be it a sport, a new software or a new art form. I just need to get familiar with it. I believe and follow the principle- &quot;Jack of all the trades and the master of one.&quot;</p>
		</div>
		  
<!-- contacts -->
		<div id="page-content">
			<h2 class="title">Contacts</h2>
				<ul>
					<li><b>Email</b>: [First name][a t]cs.washington.edu</li>
					<li><a href="https://scholar.google.com/citations?user=nu3W--sAAAAJ">Google Scholar</a></li>
				</ul>
		</div>
		
		<div id="page-content">
			<h2 class="title">Interests</h2>
				<p>	<img width="200" border="1px" src="Projects/interests/dance.jpg">   &nbsp;&nbsp;
					<img width="200" border="1px" src="Projects/interests/art.jpg">  &nbsp;&nbsp;
					<img width="200" border="1px" src="Projects/interests/hiking.jpg"> &nbsp;&nbsp;
				</p>
				<p>
					<img width="200" border="1px" src="Projects/interests/volleyball.jpg"> &nbsp;&nbsp;
					<img width="200" border="1px" src="Projects/interests/badminton.jpg"> &nbsp;&nbsp;
					<img width="200" border="1px" src="Projects/interests/hockey.jpg"> &nbsp;&nbsp;		
				</p>
		</div>
		
	  <div style="clear: both;">&nbsp;</div>
	</div>
	
</div>
<!-- end page -->
<div id="footer">
		<div id = "footer_left"></div>
		<a href="Hddn.html"><div id = "footer_right"></div></a>
	<p>&copy;2013 &nbsp;|&nbsp; Design by <b>Vikash, CSE, University of Washington, Seattle, USA</b></p>
</div>
</body>
</html>
